# Created by .ignore support plugin (hsz.mobi)
.idea

.DS_Store

node_modules
yarn.lock
**/*.log

src/images/
public/images/
public/instructions*

src/**/*.js
src/payees
src/tests
!src/index.js
!src/images
!src/css
!src/data
!src/data/*.js

exercises/proto

